<mat-form-field
  class="input-search"
>
  <mat-label
  >
    {{ dataSource?.filteredData?.length ? 'Pesquisar' : 'Nenhum carro cadastrado' }}
  </mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Gol"
    #input
    disabled="{{!hasDataCar}}"
  >
</mat-form-field>

<div
  class="container-not-list-car"
  *ngIf="!hasDataCar"
>
  <img
    class="not-list-car"
    src="assets/images/empty-list-car.png"
    alt="Nenhum carro cadastrado"
  />
  <span>
    Nenhum carro na lista.
  </span>
</div>

<div
  class="container-table"
  *ngIf="hasDataCar"
>
  <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
    </ng-container>

    <ng-container matColumnDef="chassi">
      <th mat-header-cell *matHeaderCellDef> Chassi </th>
      <td mat-cell *matCellDef="let element"> {{element.chassi}} </td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
    </ng-container>

    <ng-container matColumnDef="ações">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <div class="container-acoes-list">
          <mat-icon
            matTooltip="Detalhes do carro"
            matTooltipPosition="left"
            (click)="handleAction('visibility', element)"
            class="acoes-icon visibility"
          >
            visibility
          </mat-icon>
          <mat-icon
            matTooltip="Editar carro"
            matTooltipPosition="left"
            (click)="handleAction('edit', element)"
            class="acoes-icon edit"
          >
            edit
          </mat-icon>
          <mat-icon
            matTooltip="Excluir carro"
            matTooltipPosition="left"
            (click)="handleAction('delete', element)"
            class="acoes-icon delete"
          >
            delete
          </mat-icon>
        </div>
      </td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow >
      <td *ngIf="input.value && hasDataCar" class="mat-cell" colspan="4">Nenhum carro encontrado para a pesquisa: "{{input.value}}"</td>
    </tr>
  </table>
</div>
