.input-search
  position: absolute
  right: 12px
  top: 21px
  width: 100%
  max-width: 350px
  @media screen and (max-width: 510px)
    max-width: 240px
  @media screen and (max-width: 380px)
    max-width: 190px

.container-acoes-list
  display: flex
  align-items: center
  gap: 10px

  .acoes-icon
    cursor: pointer

  .edit
    color: #579DFF
  .visibility
    color: #4CAF50
  .delete
    color: #F44336

